.footer-section {
  width: 100%;
  /* background-color: palegoldenrod; */
  background-color: #00b4d8;
  /* height: 45vh; */
  display: flex;
  flex-wrap: column;
  font-family: "Montserrat", sans-serif;
  position: relative;
  /* left: 0;
      bottom: 0; */

  width: 100%;
  /* z-index: 200; */
  padding-bottom: 1.5rem;
}

.footer-section h3 {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.footer-about-section {
  color: black;
  font-family: "Montserrat", sans-serif;

  width: 25%;
  padding-top: 3rem;
  padding-left: 4.5rem;
  padding-right: 2.5rem;
  line-height: 1.5;
}

.footer-about-us {
  padding-bottom: 1rem;
}

.footer-about-section p {
  padding-bottom: 2rem;
}

.footer-about-section a {
  font-weight: 600;
  text-decoration: none;
}

.footer-about-section a:hover {
  text-decoration: underline;
}

.footer-quick-links {
  padding-top: 3rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: black;
  font-family: Montserrat;
  width: 25%;
  margin-left: 5rem;
  margin-right: 5rem;
}

.footer-quick-links h3 {
  margin-left: 2rem;
}

.footer-navlinks {
  padding-top: 1rem;
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin-left: 3rem;
  margin-right: 9rem;
}

.footer-navlinks:hover {
  text-decoration: underline;
}

.footer-address {
  color: black;
  font-family: "Montserrat", sans-serif;
  width: 25%;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2.5rem;
}

.footer-address h3 {
  padding-bottom: 1rem;
}

.contact-us {
  color: black;
  font-family: "Montserrat", sans-serif;
  width: 25%;
  padding-top: 3rem;
  padding-left: 2rem;
}

.contact-us h3 {
  padding-bottom: 1rem;
}

.logo-a {
  margin: 0rem;
  color: #fff;
  padding-top: 0rem;
  transition: 0.5s;
}

.contact-us svg {
  fill: white;
  background-color: none;
  height: 2rem;
  width: 2rem;
  margin: 0;
  margin-top: 0.5em;
  margin-right: 0.8em;
  transition: 0.3s;
}

.social-media-footer {
  padding-top: 2rem;
}

#insta:hover {
  fill: #0a66c2;
  transform: scale(1.2) translateY(-1px);
}

#insta1:hover {
  fill: #bc2a8d;
  transform: scale(1.2) translateY(-1px);
}
#you:hover {
  fill: #c4302b;
  transform: scale(1.2) translateY(-1px);
}

#website:hover {
  transform: scale(1.2) translateY(-1px);
}

@media (max-width: 1080px) {
  .contact-us {
    padding-left: 0.5rem;
  }
  .footer-about-section {
    color: black;
    font-family: Montserrat;
    width: 25%;
    padding-top: 3rem;
    padding-left: 2.5rem;
    padding-right: 0.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .footer-section {
    position: sticky;
    top: 100%;
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .footer-about-section {
    color: black;
    /* font-family: Montserrat; */
    width: 80%;
    padding-top: 1rem;
    padding-left: 1.4rem;
    padding-right: 3rem;
    font-family: "Montserrat", sans-serif;
  }

  .footer-quick-links {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0rem;
    padding: 0rem;
  }

  .footer-quick-links h3 {
    margin-left: 1.5rem;
    padding-top: 1rem;
  }

  .footer-navlinks {
    padding-left: 2rem;
    margin: 0rem;
  }

  .footer-address {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    left: 8rem;
    top: 8.55rem;
    width: 60%;
    line-height: 2rem;
  }

  .contact-us {
    padding-top: 2rem;
    padding-left: 1.4rem;
    padding-right: 2rem;
    width: 100%;
    font-family: "Montserrat", sans-serif;
  }

  #footer-social-media {
    margin: 0;
  }

  #insta:hover {
    fill: #e95950;
    transform: scale(1) translateY(0px);
  }
  #you:hover {
    fill: #c4302b;
    transform: scale(1) translateY(0px);
  }
  .footer-section {
    display: none;
  }
}
