@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url("https://fonts.googleapis.com/css2?family=Gayathri&display=swap");

.login-main {
	font-family: "Roboto";
	color: #02023d;
	display: flex;
	height: 80vh;
	background-color: #f3faff;

}

.login-img {
	width: 45%;
}

.login-img img {
	width: 100%;
	object-fit: cover;
	/* height: 40.1rem; */
	height: 100vh;
  /* height: 100%; */
}

.login-img-text {
	position: absolute;
	top: 21rem;
	left: 6rem;
	width: 25%;
}

.vector-svg {
	padding-left: 22rem;
}

.login-img-text1 {
	padding-bottom: 2rem;
	padding-top: 1.5rem;
}

.login-img-text p {
	line-height: 2rem;
	color: white;
	font-family: "Poppins", sans-serif;
}

.login-form {
	width: 55%;
	height: 100vh;

	/* margin: auto 2%; */
	padding-top: 8rem;
	padding-left: 7rem;
	/* background-color: #D9D7F1; */
	background-color: #f3faff;
	font-family: "Poppins", sans-serif;
}

.login-form label {
	/* color:#696F79; */
	font-size: 1rem;
	color: #696f79;
}

.login-form h1 {
	color: black;
	text-align: left;

	font-family: "roboto";
}

.signintext {
	padding-bottom: 1.5rem;
}

.input-fiels input {
	width: 60%;
	background-color: transparent;
	border: 1px solid #8692a6;
	border-radius: 0.375rem;
	/* outline: none; */
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	/* font-weight: 200; */
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	margin-top: 0.4rem;
	margin-bottom: 1.3rem;
}

::placeholder {
	color: #8692a6;

	font-size: 1rem;
}

.signin-button {
	width: 65%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #0e6795;
	border: none;
	border-radius: 0.375rem;
	font-size: 1.2rem;
	color: white;
	margin-top: 1.5rem;
}

.input-fiels button:hover {
	background: #2e7d32;
}

.loginform-redirecttosignup {
	position: absolute;
	top: 8rem;
	right: 8rem;
	color: #696f79;
}

.signinpage-signup-link {
	color: #5800ff;
	text-decoration: none;
	font-size: 1.2rem;
}

/*css for signup */
.loginform-graduatedtext {
	padding-bottom: 1.5rem;
	color: #8692a6;
}

.signup-form {
	width: 55%;
	height: 110vh;
  
	height: fit-content;
	/* margin: auto 2%; */
	padding-top: 1.5rem;
	padding-left: 8rem;
	/* background-color: #D9D7F1; */
	background-color: #f3faff;
	font-family: "Poppins", sans-serif;
}

.signup-form h1 {
	padding: 2rem 0 1rem;
}

.signup-button {
	width: 65%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #0e6795;
	border: none;
	border-radius: 0.375rem;
	font-size: 1.2rem;
	color: white;
	margin-top: 1rem;
}

.signup-input {
	width: 60%;
	background-color: transparent;
	border: 1px solid #8692a6;
	border-radius: 0.375rem;
	/* outline: none; */
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	/* font-weight: 200; */
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	padding-left: 2rem;
	margin-top: 0.4rem;
	margin-bottom: 1rem;
}

.tc-label {
	padding-left: 1rem;
}

.signup-redirecttosign {
	color: #5800ff;
	text-decoration: none;
	font-size: 1rem;
}

@media (min-width: 600px) and (max-width: 1025px) {
	.login-img {
		display: none;
	}
	.login-form {
		/* margin: 10%; */
		width: 100%;
	}
	.login-form h1 {
		padding: 1rem;
		font-size: 1.5rem;
	}
	.input-fiels input {
		padding: 1rem;
		width: 80%;
	}
}

@media only screen and (max-width: 600px) {
	.login-img {
		display: none;
	}
	.login-form {
		width: 100%;
		height: 70vh;
		/* margin: 10%; */
		padding-left: 2rem;
		padding-top: 6.5rem;
	}
	.login-form h1 {
		/* padding: 1rem; */
		font-size: 1.8rem;
		font-family: "roboto";
	}
	.input-fiels input {
		margin-bottom: 1rem;
		width: 80%;
	}

	.input-fiels button {
		width: 90%;
	}

	.login-form p {
		position: absolute;
		top: 7rem;
		right: 1rem;
		font-size: 0.7rem;
	}

	.signinpage-signup-link {
		font-size: 0.8rem;
	}

	/*mobile view css for sign-up page */
	.signup-form {
		width: 100%;
		height: 71vh;
		/* margin: 10%; */
		padding-left: 1.5rem;
	}

	.signup-input {
		width: 80%;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		margin-bottom: 0.7rem;
	}

	.loginform-graduatedtext {
		font-size: 0.8rem;
	}

	.signup-button {
		width: 90%;
	}
}
