@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.alumni-talk-main {
  font-family: "Montserrat";
}
.talk-data {
  /* border: 2px solid red; */
  border-radius: 4px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: 0px 8px 50px rgba(202, 241, 248, 0.75);

  width: 70%;
  margin: 2rem auto;
  padding: 1rem;
  line-height: 2;
}
.talk-data > p {
  text-align: center;
}
.video-title {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.talk-video > iframe {
  width: 560px;
  height: 315px;
  margin: 0 2rem 1rem;
}

.video-info > h3 {
  text-align: justify;
  font-weight: 500;
  font-size: 1.5rem;
}

.video-info > span {
  margin: 1rem;
}

.video-info > p {
  font-weight: 300;
}

@media (min-width: 600px) and (max-width: 1025px) {
  .talk-data {
    width: 80%;
  }
  .video-title {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 600px) {
  .talk-data {
    width: 80%;
  }
  .video-title {
    flex-wrap: wrap;
  }
  .talk-video > iframe {
    width: 300px;
    height: 150px;
  }
  .video-info > h3 {
    font-size: 1rem;
  }
}
